{%extends "teachers_base.html"%}
{%block header%}
        <link href="/static/teacher/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="/static/teacher/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
        <link href="/static/teacher/assets/styles.css" rel="stylesheet" media="screen">
        <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="vendors/flot/excanvas.min.js"></script><![endif]-->
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <script src="..static/teacher/vendors/modernizr-2.6.2-respond-1.1.0.min.js"></script>
		<link rel="stylesheet" href="..static/teacher/vendors/morris/morris.css">


        <script src="/static/teacher/vendors/jquery-1.9.1.min.js"></script>
        <script src="/static/teacher/vendors/jquery.knob.js"></script>
        <script src="/static/teacher/vendors/raphael-min.js"></script>
        <script src="/static/teacher/vendors/morris/morris.min.js"></script>

        <script src="/static/teacher/bootstrap/js/bootstrap.min.js"></script>
        <script src="/static/teacher/vendors/flot/jquery.flot.js"></script>
        <script src="/static/teacher/vendors/flot/jquery.flot.categories.js"></script>
        <script src="/static/teacher/vendors/flot/jquery.flot.pie.js"></script>
        <script src="/static/teacher/vendors/flot/jquery.flot.time.js"></script>
        <script src="/static/teacher/vendors/flot/jquery.flot.stack.js"></script>
        <script src="/static/teacher/vendors/flot/jquery.flot.resize.js"></script>

        <script src="/static/teacher/assets/scripts.js"></script>
{%endblock%}
{%block content%}
<div class="row-fluid">
    <!-- block -->
    <div class="block">
        <div class="navbar navbar-inner block-header">
            <div class="muted pull-left">Morris.js stacked</div>
            <div class="pull-right"><span class="badge badge-warning">View More</span>
            </div>
        </div>
        <div class="block-content collapse in">
            <div class="span12">
                <p>Provided data is not sufficient for graphical analysis</p>
                <div id="hero-area" style="height: 250px;"></div>
            </div>
        </div>
    </div>
    <!-- /block -->
</div>
{%block footer%}
<script>
        $(function() {
            var data = [ ["January", 10], ["February", 8], ["March", 4], ["April", 13], ["May", 17], ["June", 9] ];


            var data = [],
            series = Math.floor(Math.random() * 6) + 3;

            for (var i = 0; i < series; i++) {
                data[i] = {
                    label: "Series" + (i + 1),
                    data: Math.floor(Math.random() * 100) + 1
                }
            }

            $.plot('#piechart1', data, {
                series: {
                    pie: {
                        show: true,
                        radius: 1,
                        label: {
                            show: true,
                            radius: 3/4,
                            formatter: labelFormatter,
                            background: {
                                opacity: 0.5,
                                color: '#000'
                            }
                        }
                    }
                },
                legend: {
                    show: false
                }
            });

            $.plot('#piechart2', data, {
                series: {
                    pie: {
                        show: true,
                        radius: 1,
                        tilt: 0.5,
                        label: {
                            show: true,
                            radius: 1,
                            formatter: labelFormatter,
                            background: {
                                opacity: 0.8
                            }
                        },
                        combine: {
                            color: '#999',
                            threshold: 0.1
                        }
                    }
                },
                legend: {
                    show: false
                }
            });


        function doPlot(position) {
            $.plot("#timechart", [
                { data: oilprices, label: "Oil price ($)" },
                { data: exchangerates, label: "USD/EUR exchange rate", yaxis: 2 }
            ], {
                xaxes: [ { mode: "time" } ],
                yaxes: [ { min: 0 }, {
                    // align if we are to the right
                    alignTicksWithAxis: position == "right" ? 1 : null,
                    position: position,
                    tickFormatter: euroFormatter
                } ],
                legend: { position: "sw" }
            });
        }

        doPlot("right");

        });

        // Morris Bar Chart
        Morris.Bar({
            element: 'hero-bar',
            data: [
                {device: '1', sells: 136},
                {device: '3G', sells: 1037},
                {device: '3GS', sells: 275},
                {device: '4', sells: 380},
                {device: '4S', sells: 655},
                {device: '5', sells: 1571}
            ],
            xkey: 'device',
            ykeys: ['sells'],
            labels: ['Sells'],
            barRatio: 0.4,
            xLabelMargin: 10,
            hideHover: 'auto',
            barColors: ["#3d88ba"]
        });

        // Morris Area Chart
        Morris.Area({
            element: 'hero-area',
            data: [
                {period: '2010 Q1', iphone: 2666, ipad: null, itouch: 2647},
                {period: '2010 Q2', iphone: 2778, ipad: 2294, itouch: 2441},
                {period: '2010 Q3', iphone: 4912, ipad: 1969, itouch: 2501},
                {period: '2010 Q4', iphone: 3767, ipad: 3597, itouch: 5689},
                {period: '2011 Q1', iphone: 6810, ipad: 1914, itouch: 2293},
                {period: '2011 Q2', iphone: 5670, ipad: 4293, itouch: 1881},
                {period: '2011 Q3', iphone: 4820, ipad: 3795, itouch: 1588},
                {period: '2011 Q4', iphone: 15073, ipad: 5967, itouch: 5175},
                {period: '2012 Q1', iphone: 10687, ipad: 4460, itouch: 2028},
                {period: '2012 Q2', iphone: 8432, ipad: 5713, itouch: 1791}
            ],
            xkey: 'period',
            ykeys: ['iphone', 'ipad', 'itouch'],
            labels: ['iPhone', 'iPad', 'iPod Touch'],
            lineWidth: 2,
            hideHover: 'auto',
            lineColors: ["#81d5d9", "#a6e182", "#67bdf8"]
          });



                </script>
{%endblock%}
{%endblock%}